<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <h1>The Home Page <%= 'hello world'.toUpperCase()%></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nam
        debitis repellat ducimus harum at atque omnis dicta id. Consectetur
        suscipit est rerum excepturi! Asperiores, vero ea! Sit, minima
        perspiciatis! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corporis aut veritatis fugit ea quis expedita quae sequi, natus maiores
        error eligendi non quibusdam placeat corrupti, dolor qui. Est, eos odio.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
        accusantium sit quo deserunt. Culpa quisquam blanditiis excepturi minima
        nesciunt sit ipsa inventore quidem fuga. Quibusdam dolor iste neque nisi
        optio!
      </p>
    </div>
  </body>
</html>
