h1 {
  background-color: palegoldenrod;
  border: 1px solid black;
  height: 200px;
  padding: 50px;
  margin: 30px;
}
/* 
span {
  background-color: paleturquoise;
  border: 1px solid black;
  display: block;
} */

span {
  /* background-color: palevioletred; */
  border: 3px solid red;
  width: 500px; /* inline 요소라 변경사항 없음*/
  padding: 10px;
  margin: 50px;
  /* display: none; */
}

div {
  height: 200px;
  width: 200px;
  background-color: olivedrab;
  border: 5px solid black;
  display: inline-block;
  margin: 50px;
}
